@font-face {
  font-family: 'Poppins Black';
  src: url('./fonts//Poppins/Poppins-Black.ttf');
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('./fonts//Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins ExtraLight';
  src: url('./fonts//Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
  font-family: 'Poppins Light';
  src: url('./fonts//Poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('./fonts//Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url('./fonts//Poppins/Poppins-SemiBold.ttf');
}